$xxs:399px;
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;

//reponsive nguyen lich chieu
$xxs1:399px;
$xs1: 600px;
$sm1: 768px;
$md1: 960px;
$lg1: 1199px;

//responsive booking ticket
$xxs2:399px;
$xs2: 600px;
$sm2: 768px;
$md2: 991px;
// $lg2: 1199px;




