@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800;900&family=Nunito:wght@200;300;400;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

p {
    margin-bottom: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;

    scroll-behavior: smooth;
}